<div class="sharing">

<a href="https://twitter.com/share" class="twitter-share-button" data-via="slsansovich" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-layout="button"
  data-share="true">
</div>

<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share" data-url="http://scottsansovich.com{{ page.url }}"></script>

<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup" class="row">
<form action="//scottsansovich.us10.list-manage.com/subscribe/post?u=33e680bf523083f1b709a11c8&amp;id=8100e9d5c2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="col-sm-12">
        <h3>Get more updates from Scott:</h3>
        <div class="mc-field-group">
          <input type="email" value="" name="EMAIL" class="required email col-sm-6 col-xs-12" id="mce-EMAIL" placeholder="Email">
        </div>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_33e680bf523083f1b709a11c8_8100e9d5c2" tabindex="-1" value=""></div>
      <div class="col-sm-3 col-xs-12"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button col-sm-12 col-xs-12"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->

</div>
